html {
  font-size: 18px;
  line-height: 1.2rem;
  font-family: 'Work Sans', sans-serif;
}

main {
  margin: 40px auto;
  padding: 0 20px;
  max-width: 800px;
}

.nav {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 34px;
}

#bio {
  margin-bottom: 40px;
}

#portfolio li {
  margin: 5px 0;
}

#portfolio > ul > li {
  margin: 15px 0;
}

.headshot {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  overflow:hidden;
  text-align: center;
  margin: 0 auto;
}

.headshot img {
  width: 100%;
}